<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<!-- Mirrored from webdesign-finder.com/html/pharma/department-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:25 GMT -->
<head>
  <title>Pharma City Louise</title>
  <meta charset="utf-8">
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/main.css" class="color-switcher-link">
  <link rel="stylesheet" href="css/shop.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
  <![endif]-->
</head>

<body>

      <section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>Pharmacie Pharma City Bourse</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <article class="vertical-item content-padding with_border ">
                <div class="item-media"> <img src="images/gallery/06.jpg" alt=""> </div>
                <div class="item-content">
                  <h4> Farnesoid X Receptor </h4>
                  <p> Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop. </p>
                </div>
                <div class="item-content with_top_border">
                  <div class="media small-teaser">
                  <a href="https://www.google.com/maps/dir//Boulevard+Anspach+61,+1000+Bruxelles/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Boulevard+Anspach+61,+1000+Bruxelles&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CBoulevard+Anspach+61,+1000+Bruxelles" alt="Google Map of Boulevard Anspach 61, 1000 Bruxelles"></a>
                  <br>
                  <br>
                  <br>
                    <div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
                    <div class="media-body media-middle"> Boulevard Anspach 61, 1000 Bruxelles </div>
                  </div>
                  <div class="media small-teaser">
                    <div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
                    <div class="media-body media-middle"> 02 218 06 40 </div>
                  </div>
                  <div class="media small-teaser">
                    <div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
                    <div class="media-body media-middle"> farnesoid@example.com </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-7">
              <p>Meatball doner filet mignon kielbasa shank cupim ham hock bresaola fatback swine pork capicola meatloaf chicken jerky. Meatball andouille swine leberkas, drumstick landjaeger pork boudin t-bone flank tenderloin. Pig meatball turkey tail, tri-tip
                salami venison jowl beef bresaola pastrami. Doner capicola kielbasa drumstick chicken bresaola. </p>
              <p>Pig hamburger pork belly short loin pastrami, fatback ribeye alcatra rump boudin burgdoggen.Tri-tip pastrami kielbasa pork loin short loin tail corned beef pork chop t-bone jerky tenderloin burgdoggen cupim. Tri-tip chuck ground round pig salami
                short ribs.</p>
              <ul class="list2 checklist color2 darklinks">
                <li> <a href="#">Lorem ipsum dolor sit amet</a> </li>
                <li> <a href="#">Sint animi non ut sed</a> </li>
                <li> <a href="#">Eaque blanditiis nemo</a> </li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo asperiores libero ipsam itaque molestiae fuga, consequatur, numquam beatae excepturi quam suscipit quibusdam eligendi qui. Tempora accusamus molestias ab culpa eos facilis quaerat laborum iusto dolore, dolor maxime, voluptatibus eaque aliquid. </p>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs topmargin_40" role="tablist">
                <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Heures d'ouverture</a></li>
                <li><a href="#tab2" role="tab" data-toggle="tab">Nos Produits</a></li>
                <li><a href="#tab3" role="tab" data-toggle="tab">Envoyez un message</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content big-padding top-color-border bottommargin_40">
                <div class="tab-pane fade in active" id="tab1">
                  <h4 class="topmargin_0">Heures d'ouverture: </h4>
                  <h5>Lundi</h5>
                  <p> 09:00–19:00 </p>
                  <h5>Mardi</h5>
                  <p>  09:00–19:00 </p>
                  <h5>Mercredi</h5>
                  <p> 09:00–19:00 </p>
                  <h5>Jeudi</h5>
                  <p>  09:00–19:00 </p>
                  <h5>Vendredi</h5>
                  <p> 09:00–19:00 </p>
                  <h5>Samedi</h5>
                  <p>  09:30–19:00</p>
                  <h5>Dimanche</h5>
                  <p>  Fermé </p>
                </div>
                <div class="tab-pane fade" id="tab2">
                  <p class="bottommargin_10"> <strong class="grey">Product Name</strong> </p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                  </div>
                  <p class="bottommargin_10"> <strong class="grey">Product Name</strong> </p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                  </div>
                  <p class="bottommargin_10"> <strong class="grey">Product Name</strong> </p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="75"> <span>75%</span> </div>
                  </div>
                  <p class="bottommargin_10"> <strong class="grey">Product Name</strong> </p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab3">
                  <form class="contact-form" method="post" action="http://webdesign-finder.com/html/pharma/">
                    <p class="contact-form-name">
                      <!-- <label for="name">Name <span class="required">*</span></label> --><input type="text" aria-required="true" size="30" value="" name="name" class="form-control" placeholder="Name"> </p>
                    <p class="contact-form-email">
                      <!-- <label for="email">Email <span class="required">*</span></label> --><input type="email" aria-required="true" size="30" value="" name="email" class="form-control" placeholder="Email Address"> </p>
                    <p class="contact-form-message">
                      <!-- <label for="message">Message</label> --><textarea aria-required="true" rows="4" cols="45" name="message" class="form-control" placeholder="Message"></textarea> </p>
                    <p class="contact-form-submit topmargin_30"> <button type="submit" name="contact_submit" class="theme_button color1">Send Message</button> </p>
                  </form>
                </div>
              </div>
              <!-- eof .tab-content -->
              <p>Pig kielbasa kevin chicken. Shank capicola burgdoggen salami, t-bone pork ham. Shoulder leberkas burgdoggen, meatloaf drumstick ball tip porchetta ham hock sirloin. Cow chuck capicola porchetta leberkas. Short loin beef andouille chicken shoulder
                spare ribs swine tongue drumstick jerky meatloaf. Flank meatloaf tenderloin, ball tip beef ribs brisket shank picanha.</p>
              <blockquote class="with_padding with_border rounded"> Strip steak spare ribs tenderloin tail tongue short ribs picanha chuck leberkas shankle pig landjaeger prosciutto. Kielbasa chuck drumstick landjaeger pastrami rump meatloaf beef ribs. Shoulder porchetta cow, kevin drumstick.
                <div class="item-meta">
                  <h5 class="highlightlinks"><a href="#">Celia Silva</a></h5>
                  <p class="highlight2">Customer</p>
                </div>
              </blockquote>
              <p> Ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- eof #box_wrapper -->
  </div>
  <!-- eof #canvas -->
  <script src="js/compressed.js"></script>
  <script src="js/main.js"></script>
  <script src="js/switcher.js"></script>
</body>


<!-- Mirrored from webdesign-finder.com/html/pharma/department-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:26 GMT -->
</html>
