<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<!-- Mirrored from webdesign-finder.com/html/pharma/careers.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:26 GMT -->
<head>
	<title>PharmaCity Jobs</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="css/shop.css">
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
	
			<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Nous sommes à la recherche de nouvelles personnes pour completer notre Team de pharmaciens.</h2>

						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_150 section_padding_bottom_130">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="section_header">Work With Us</h2>
							<p>Landjaeger ham hock corned beef chicken venison pancetta pastrami sausage kevin swine tri-tip tongue turkey pork. Swine turducken cupim meatloaf chuck sirloin jerky capicola boudin pastrami sausage beef tongue. Bacon andouille ham, landjaeger tail
								shoulder pork loin frankfurter. Ham hock burgdoggen ham pig pastrami, chuck beef shoulder sirloin capicola short loin. Pastrami burgdoggen biltong meatball, sausage turducken landjaeger kielbasa boudin. Cow meatloaf jerky shoulder jowl kevin biltong
								flank bresaola ball tip tri-tip pastrami.</p>
							<p>Kielbasa biltong cupim frankfurter swine filet mignon jerky cow chuck chicken prosciutto short ribs capicola alcatra. Corned beef jowl landjaeger kevin jerky, frankfurter tri-tip hamburger strip steak pork belly pig rump bresaola. Frankfurter spare
								ribs tri-tip cupim ham turducken meatloaf turkey sirloin tail, ribeye sausage pork flank chuck. Sausage chuck short ribs boudin burgdoggen capicola tail salami meatloaf turducken. Turducken fatback beef kielbasa pig doner ham hock jerky alcatra
								ribeye pancetta tenderloin andouille leberkas.</p>
							<h4>Open Positions:</h4>
							<h4 class="highlight">Undergraduate Biology Research Assistant (Internship)</h4>
							<p>To apply for a posted position, please email your CV to hr@crinetics.com along with a cover letter outlining how you are a fit for the position. We review all CVs submitted for posted positions, but we are unable to respond individually to all
								applications.</p>
							<p>For Recruiters: It is Crinetics’ policy that CVs will only be accepted from recruiters if a signed agreement is in place and the recruiter has been authorized by the company to search for a specific position. Unsolicited resumes received by Crinetics
								from recruiters do not establish a relationship between the recruiter and Crinetics and will not obligate Crinetics to pay any fees should we hire an individual from such resumes.s</p>
							<div class="panel-group topmargin_60" id="accordion3">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#careers-collapse1">
									Home Remedies To Retain Teeth And Lip Color For Intense Smokers?
								</a> </h4>
									</div>
									<div id="careers-collapse1" class="panel-collapse collapse in">
										<div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor! </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#careers-collapse2" class="collapsed">
									The Basic Requirements Of An Autoclave Sterilizer?
								</a> </h4>
									</div>
									<div id="careers-collapse2" class="panel-collapse collapse">
										<div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere doloremque ut dolores laudantium nihil at, repudiandae est numquam fuga tempora totam sequi quidem saepe officiis sint beatae, magni fugit. </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#careers-collapse3" class="collapsed">
									Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied?
								</a> </h4>
									</div>
									<div id="careers-collapse3" class="panel-collapse collapse">
										<div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis omnis delectus, asperiores quo obcaecati et iste corporis necessitatibus tempora aspernatur doloribus. Ut deleniti commodi dicta distinctio sit enim quidem! </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
	<script src="js/switcher.js"></script>
</body>


<!-- Mirrored from webdesign-finder.com/html/pharma/careers.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:26 GMT -->
</html>