<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<!-- Mirrored from webdesign-finder.com/html/pharma/departments.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:12 GMT -->
<head>
	<title>Pharma</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="css/shop.css">
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>
			<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Nos Pharmacies Pharma City Bruxelles</h2>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_150 section_padding_bottom_130">
      <div class="shopmap">
      <a href="https://www.google.com/maps/place/Rue+Archimède+3,+1000+Bruxelles/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Rue+Archimède+3,+1000+Bruxelles&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CRue+Archimède+3,+1000+Bruxelles&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CBoulevard+Anspach+61,+1000+Bruxelles&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CRue+Général+Fivé+2,+1040+Etterbeek&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CAvenue+de+la+Toison+d'Or+51,+1060+Saint-Gilles" alt="Google Map of Rue Archimède 3, 1000 Bruxelles"></a>
      </div>
				<div class="container">
					<div class="row columns_margin_bottom_20">
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border rounded">
								<div class="item-media top_rounded overflow_hidden"> <img src="images/gallery/23.jpg" alt=""> </div>
								<div class="item-content">
									<h4> <a href="department-single.html">Bourse</a> </h4>
									<p>Doner meatloaf pork loin tenderloin alcatra ground round shankle cupim spare ribs filet mignon venison.</p>
								</div>
								<div class="item-content with_top_border">
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> Boulevard Anspach 61, 1000 Bruxelles </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> 02 218 06 40 </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> farnesoid@example.com </div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_border rounded">
								<div class="item-media top_rounded overflow_hidden"> <img src="images/gallery/03.jpg" alt=""> </div>
								<div class="item-content">
									<h4> <a href="department-single.html">Liberty-Louise</a> </h4>
									<p> Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop. </p>
								</div>
								<div class="item-content with_top_border">
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> Avenue de la Toison d'Or 51, 1060 Saint-Gilles </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> 02 512 37 69 </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> therapeutic_focus@example.com </div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6 clear-sm">
							<article class="vertical-item content-padding with_border rounded">
								<div class="item-media top_rounded overflow_hidden"> <img src="images/gallery/24.jpg" alt=""> </div>
								<div class="item-content">
									<h4> <a href="department-single.html">Schuman</a> </h4>
									<p> Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop. </p>
								</div>
								<div class="item-content with_top_border">
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> Rue Archimède 3, 1000 Bruxelles </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> 02 231 06 45 </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> investigator_research@example.com </div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6 clear-md clear-lg">
							<article class="vertical-item content-padding with_border rounded">
								<div class="item-media top_rounded overflow_hidden"> <img src="images/gallery/25.jpg" alt=""> </div>
								<div class="item-content">
									<h4> <a href="department-single.html">Chasse</a> </h4>
									<p> Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop. </p>
								</div>
								<div class="item-content with_top_border">
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> Rue Général Fivé 2, 1040 Etterbeek </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> 02 647 35 87 </div>
									</div>
									<div class="media small-teaser">
										<div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
										<div class="media-body media-middle"> pipeline@example.com </div>
									</div>
								</div>
							</article>
						</div>

					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
	<script src="js/switcher.js"></script>
</body>


<!-- Mirrored from webdesign-finder.com/html/pharma/departments.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 May 2018 14:29:25 GMT -->
</html>
